VITE_FIREBASE_API_KEY=AIzaSyDcXQiZkBKilbx5_8-J1wW9C6LLP3yYjpQ
VITE_FIREBASE_AUTH_DOMAIN=fruitmerge-22019.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fruitmerge-22019
VITE_FIREBASE_STORAGE_BUCKET=fruitmerge-22019.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=293361860753
VITE_FIREBASE_APP_ID=1:293361860753:web:e00a2aeb65a9a83a903f30
VITE_FIREBASE_DATABASE_URL=https://fruitmerge-22019-default-rtdb.firebaseio.com